* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin-left: 150px;
  margin-right: 150px;
}

header {
  height: 60px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headertext {
  font-size: 2.5rem;
}

.login_buttons > a {
  margin: 20px;
}

nav {
  background-color: #2e51a2;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

form {
  padding: 5px;
  width: 100%;
}

a {
  font-weight: bold;
  text-decoration: none;
  background-color: none;
}

form > input {
  margin: 8px;
  padding: 4px;
}

form > input[type="date"] {
  opacity: 100%;
}